* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    overflow-x: hidden;
    /* font-family: 'Red Hat Text', sans-serif; */
}

/*********Boton arriba*************/
.arriba{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 40px;
    height: 40px;
    background: rgb(220, 118, 51, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
    border-radius: 100%;

}
.arriba:hover{
    background: #fff;
    color:#dc7633;
    border: 2px solid #dc7633;
}
.arriba:hover span{color:#dc7633;
}

.arriba > span{
   font-size: 30px;
   color: #fff;
} 

.portada-automatizacion{
    background:url(../img/automatizacion/automatizar.svg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: soft-light;
    position: relative;
    width: 100%;
    height: 100vh;
}
.portada-automatizacion .header-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.portada-automatizacion .header-info h2{
    color:#fff;
    font-size: 70px;
    font-weight: normal;
}
.portada-automatizacion .header-info hr{
    border:none;
    outline: none;
    height: 2px;
    background: #fff;
    width: 600px;
    margin:15px 0px;
}
.portada-automatizacion .header-info p{
    color:#fff;
    font-size: 20px;
}



/*************AUTOMATIZACIÓN**************/
.automatizacion-txt1{
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
}
.proj-automatizacion1{
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 15px;
}

.automatizacion-txt1 p{
    text-align: justify;
    font-size: 17px;
    padding-top: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #3C3C3C;
}

/*************INYECCION DE PLASTICOS*************/
.automatizacion-txt2{
    padding-top: 0px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}  
.proj-automatizacion2{
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 15px;
}
.automatizacion-txt2 p{
    text-align: justify;
    font-size: 17px;
    padding-top: 100px;
    font-family: 'Titillium Web', sans-serif;
    color: #3C3C3C;
}
