/*********Boton arriba*************/
.arriba{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 40px;
    height: 40px;
    background: rgb(220, 118, 51, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
    border-radius: 100%;

}
.arriba:hover{
    background: #fff;
    color:#dc7633;
    border: 2px solid #dc7633;
}
.arriba:hover span{color:#dc7633;
}

.arriba > span{
   font-size: 30px;
   color: #fff;
} 


/************Navegation Menu *******/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{margin-left: 20px;}

.logo{
    width: 100px;
    height: 30px;
}

.logo:hover{
    transform: translate(-5px , 5px);
    transition: 1s;
}

.menu .list-container{margin-right: 20px;}

.menu .list-container ul{display: flex;}

.menu .list-container ul li{list-style: none;}

.menu .list-container ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color: #c7c7c7; /*blue*/
    font-weight: bold; /****/
    border-radius: 24px;
    transition: 0.3s;
    font-size: 16px;
    background: rgba(0,0,0,0,1); /****/
}
.menu .list-container ul li a.active{
    color:#c7c7c7;
    text-decoration-line: underline;
}
.menu .list-container ul li a:hover{
    color:#dc7633; 
    text-decoration-line: underline;
}

.btn-menu > .fa-bars{
    display: none;
}

/** portada **/
#header{
    width: 100%;
    position: relative;
}
/** Img portada**/
.img-header{
    background:url(../imagen/automatizar.svg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: soft-light;
    
    position: relative;
    width: 100%;
    height: 100vh;
}
.img-header .header-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.img-header .header-info h2{
    color:#fff;
    font-size: 70px;
    font-weight: normal;
}
.img-header .header-info hr{
    border:none;
    outline: none;
    height: 2px;
    background: #fff;
    width: 600px;
    margin:15px 0px;
}
.img-header .header-info p{
    color:#fff;
    font-size: 20px;
}



/*************AUTOMATIZACIÓN**************/
.automatizacion-txt1{
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
}
.proj-automatizacion1{
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 15px;
}

.automatizacion-txt1 p{
    text-align: justify;
    font-size: 17px;
    padding-top: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #3C3C3C;
}

/*************INYECCION DE PLASTICOS*************/
.automatizacion-txt2{
    padding-top: 0px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}  
.proj-automatizacion2{
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 15px;
}
.automatizacion-txt2 p{
    text-align: justify;
    font-size: 17px;
    padding-top: 100px;
    font-family: 'Titillium Web', sans-serif;
    color: #3C3C3C;
}
