* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: url(../img/person.jpg);
    /*imagen fondo*/
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*********barra de menu************/
/*********Boton arriba*************/
.arriba {
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    background: rgb(220, 118, 51, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
    border-radius: 100%;

}

.arriba:hover {
    background: #fff;
    color: var(--blue);
    border: 2px solid #dc7633;
}

.arriba:hover span {
    color: #dc7633;
}

.arriba>span {
    font-size: 30px;
    color: var(--white);
}


/************Navegation Menu *******/
#header {
    position: relative;
    width: 100%;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo-box {
    margin-left: 20px;
}

.logo {
    width: 100px;
    height: 30px;
}

.logo:hover {
    transform: translate(-5px, 5px);
    transition: 1s;
}

.menu .list-container {
    margin-right: 20px;
}

.menu .list-container ul {
    display: flex;
}

.menu .list-container ul li {
    list-style: none;
}

.menu .list-container ul li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: #c7c7c7;
    /*blue*/
    font-weight: bold;
    /****/
    border-radius: 24px;
    transition: 0.3s;
    font-size: 16px;
    background: rgba(0, 0, 0, 0, 1);
    /****/
}

.menu .list-container ul li a.active {
    color: #c7c7c7;
    text-decoration-line: underline;
}

.menu .list-container ul li a:hover {
    color: #dc7633;
    text-decoration-line: underline;
}

.btn-menu>.fa-bars {
    display: none;
}


@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position:absolute;
        right: 30px;
        top: 20px;
        font-size: 28px;
        color: var(--white);
        transition: 0.5s;
        cursor: pointer;
    }
    .btn-menu > .fa-times{
        color: var(--white);
    }

    .btn-menu > .fa-bars:hover{
        color:var(--blue);
    }
    
    .menu .logo-box{margin-left: 30px;}
    .menu .list-container{
        position: fixed;
        top:60px;
        left:-100%;
        background: rgba(0,0,0,1);
        width: 100%;
        height: calc(100vh - 60px);
    }
    .menu .list-container .lists{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top:4px solid var(--orange);
    }
    .menu .list-container ul li{
        width: 90%;
        border-bottom: 1px solid var(--white);
        display: flex;
        justify-content: center;
    }
    .menu .list-container ul li a{
        font-size: 20px;
        text-align: center;
        padding:12px 0px;
    }
    .menu .list-container ul li a.active{
        background: none;
        color: var(--blue);
    }
    .menu .list-container ul li a:hover{
        background: none;
        color:var(--blue);
    }
}

/*******formulario*********/
.contenedor {
    width: 90%;
    max-width: 1000px;
    background: rgb(0, 0, 0, .7);
    /*transparencia de tarjet formulario*/
    /*background: #999;*/
    padding: 40px;
    margin: 100px auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .7);
}

.contenedor h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
}

.contenido {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.contenido .info,
.contenido .formulario {
    width: 50%;
}

/*********estilos info**********/
.info {
    padding-left: 10px; 
    /* margin: 0 auto; */    
}


.info .col {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}

/************color de icocnos ********/
.info .col .icono {
    color: #235496;
    margin-right: 10px;
}

.info .col p {
    color: #fff;
    /*Letras*/
}

.info .redes-s {
    width: 100%;
    overflow: hidden;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
}

.info .redes-s a {
    display: flex;
    width: 40px;
    height: 40px;
    background: #235496;
    color: #fff;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgb(0, 0, 0, .4);
}

.info .redes-s a:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
}

/************estilo formulario*********/
/* .formulario {
    padding-left: 10px;
}

.formulario input[type='text'],
input[type='email'],
.formulario textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #999;
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    outline: 0;
    background: rgb(0, 0, 0, .7);
}

.formulario textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.formulario input[type='text']:focus,
.formulario textarea:focus {
    border: 1px solid #235496;
} */

.formulario button {
    padding: 12px 30px;
    border: transparent;
    background: #DC7633;
    /*#D35400*/
    color: #fff;
    cursor: pointer;

}

/*
    validacion de inputs en el Formulario

*/
.formulario__input {
    width: 100%;
    background: rgba(0, 0, 0, .4);
    border: 3px solid transparent;
    border-radius: 8px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    padding-left: 10px;
    color: #fff;
    margin-bottom: 10px;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}


.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 10px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 2px;
    display: none;
    color: #fff;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 230px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;

}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 40px;
    line-height: 45px;
    background: red;
    color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
} */

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #fff;
    /*#119200*/
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

/* .formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
} */

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
    top: auto;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .contenido {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info {
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {

    .contenido .info,
    .contenido .formulario {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

}


@media screen and (max-width: 320px) {}