*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background: url(../img/person.jpg); /*imagen fondo*/
    -webkit-background-size:cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*********barra de menu************/
/*********Boton arriba*************/
.arriba{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    background: rgb(220, 118, 51, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
    border-radius: 100%;

}
.arriba:hover{
    background: #fff;
    color:var(--blue);
    border: 2px solid #dc7633;
}
.arriba:hover span{color:#dc7633;}

.arriba > span{
   font-size: 30px;
   color: var(--white);
} 


/************Navegation Menu *******/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{margin-left: 20px;}

.logo{
    width: 100px;
    height: 30px;
}

.logo:hover{
    transform: translate(-5px , 5px);
    transition: 1s;
}

.menu .list-container{margin-right: 20px;}

.menu .list-container ul{display: flex;}

.menu .list-container ul li{list-style: none;}

.menu .list-container ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color: #c7c7c7; /*blue*/
    font-weight: bold; /****/
    border-radius: 24px;
    transition: 0.3s;
    font-size: 16px;
    background: rgba(0,0,0,0,1); /****/
}
.menu .list-container ul li a.active{
    color:#c7c7c7;
    text-decoration-line: underline;
}
.menu .list-container ul li a:hover{
    color:#dc7633; 
    text-decoration-line: underline;
}

.btn-menu > .fa-bars{
    display: none;
}



/*******formulario*********/
.contenedor{
    width: 90%;
    max-width: 1000px;
    background: rgb(0, 0, 0, .7); /*transparencia de tarjet formulario*/
    /*background: #999;*/
    padding: 40px;
    margin: 100px auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .7);
}
.contenedor h1{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
    color:#235496;
}
.contenido{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.contenido .info, 
.contenido .formulario{
    width: 50%;
}

/*********estilos info**********/
.info{
    padding-left: 10px;
}
.info .col{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;
    flex-wrap: nowrap;
}
/************color de icocnos ********/
.info .col .icono{
    color:#235496;
    margin-right: 10px;
} 
.info .col p{
    color: #fff; /*Letras*/
}
.info .redes-s{
    width: 100%;
    overflow: hidden;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
}
.info .redes-s a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #235496;
    color: #fff;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px rgb(0, 0, 0, .4);
}
.info .redes-s a:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .4);
}

/************estilo formulario*********/
.formulario{
    padding-left: 10px;
}
.formulario input[type='text'], input[type='email'], 
.formulario textarea{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #999;
    color:#999;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    outline: 0;
    background: rgb(0, 0, 0, .7);
}
.formulario textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.formulario input[type='text']:focus,
.formulario textarea:focus{
    border: 1px solid #235496;
}
.formulario button{
    padding: 12px 30px;
    border: transparent;
    background: #DC7633; /*#D35400*/
    color: #fff;
    cursor: pointer;
}

/*validacion*/

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


