:root{
    --red:#ff2e63;
    --black:#252a34;
    --blue:#08d9d6;
    --white:#eaeaea;
    --title:35px;
    --text:19px;
    --blue: #2C4964;
 }

.galeria h1{
    /*text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
    font-size: 50px;
    font-weight: 400;
    color: var(--blue);
    text-align: center;
    margin-bottom: 20px;*/
    
}




.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}
/*Fondo*/
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--white);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 3px;
}

/*
.overlay p{
    color: var(--blue);
    font-weight: 300;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}*/

.imagen:hover .overlay{
    height: 100%;
    cursor: pointer;
}