
/**
    *   Mortada Moldes**

    -----------------------------------------------

**/

#header{
    position: relative;
    width: 100%;
}

.img-header-moldes{
    position: relative;
    width: 100%;
    height: 70vh;
    background:url(../img/moldes.jpg); 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-header-moldes .welcome-moldes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(35,84,150,0.6); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.img-header-moldes .welcome-moldes h1{
    font-size: 50px;
    color:#fff;
    font-weight: 200;
}


/**
    *   medidas responsi**

    -----------------------------------------------

**/

@media only screen and (max-width:773px ){
    .img-header-moldes{
        width: 100%;    
    }

    .img-header-moldes .welcome-moldes h1{
        font-size: 40px;
        text-align: center;        
    }    
    
}

@media only screen and (max-width:590px){
    .img-header-moldes .welcome-moldes h1{font-size: 20px;}
}

/**
    *   Contenido de html**

    -----------------------------------------------

**/

.contenedor-main{
    background: #fff;
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto ;
    position: relative;
    padding: 1px;
    background: url(../img/408318.jpg);
    

}

.molde-text{
    padding: 15px;
    color: #fff;
    font-size: 18px;
    width: 100%;
    margin: 10px;
    text-align: center;
    background: url(../img/408318.jpg);
    cursor: none;
}

.moldes{
    display: grid;
    grid-template-columns: 70% 30%;

}


.contenedor-moldes .molde-columna{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
}

.molde-columna{
    width: 85%;
    margin: auto;
}

.img-molde{
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
}

.img-molde img{
    width: 100%;
    height: 120px;
}


/**
    *   Barra lateral muestra lista de servicios**

    -----------------------------------------------

**/

.menu-lateral{
    padding: 5px;
    margin: 0 auto;
    overflow-y: auto;
    background: rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.titulo{
    color: #fff;
    text-align: center;
}

.separador{
    height: 1px;
    border-bottom: solid 1px #fff;
    margin: 15px 0;
}

.enlaces{
    color: #000;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    overflow-y: scroll;
    height: 300px;
}


.menu-lateral:hover{
    background: rgba(0,0,0,0.8);
    transition: all 0.8s;
}

.enlaces a{
    color: #dc7633;
    font-size: 15px;
    padding: 10px;

}

.enlaces i{
    padding: 10px;
    color: #fff;
}

.enlaces > span{
    padding: 10px;
    color: #fff;
}

.img-molde:hover {
    /* filter: blur(2px); */
    transform: rotate(2deg) scale(1.1) ; 
    border: 5px solid rgba(0,0,0,0.4);
}

.enlaces a:hover{
    color: #235496;
    
}

/**
    *   Animaciones para la pagina moldes**

    -----------------------------------------------

**/


.animado{
    opacity: 0;
    transition: all 0.8s;
}

.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba{
    0%{
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}

@media(max-width:400px){
    .moldes{
        grid-template-columns: repeat(1,100%);
    }

    .contenedor-moldes .molde-columna{
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-lateral{
        grid-template-columns: repeat(1 ,33%);
    }
} 

.img-header-moldes{
    animation-duration: 5s;
    animation-name: moldes;
}

.welcome-moldes h1{
    animation-duration: 10s;
    animation-name: text-moldes;
}

@keyframes moldes{
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}

@keyframes text-moldes{
    from{
        opacity: 0;
    } to {
        opacity: 1;
        color: #dc7633;
    }
}