a{
	color: #fff;
	text-decoration: none;
}


.container-Services {
    position: relative;
}

.main {
    position: relative;
    width: 680px;
    margin: 0 auto;
}

.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 2px solid red;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
}

.view .mask {
    width: 300px;
    height: 200px;
    position: absolute;
    /* overflow: hidden; */
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
    max-height: 100%;
}

.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}

.view p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 25px 40px;
    text-align: center;
}

.view a.info:{
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}

.view a.info: hover {
    box-shadow: 0 0 5px #000;
}

/*style services*/
.view-first img {
    transition: all 0.2s linear;
}

.view-first .maks {
    filter: alpha(opacity=0);
    opacity: 0;
    background: rgba(219, 127, 8, 0.7);
    transition: all 0.4s ease-in-out;
}

.view-first h2 {
    transform: translateY(-100px);
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first p {
    transform: translateY(100px);
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.2s linear;
}

.view-first:hover img {
    transform: scale(1.1, 1.1);
}

.view-first a.info {
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view-first:hover .mask {
    filter: alpha(opacity=100);
    opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    filter: alpha(opacity=100);
    opacity: 1;
    transform: translateY(0px);
}

.view-first:hover p {

    transition-delay: 0.1s;
}

.view-first:hover a.info {
    transition-delay: 0.2s;
}

.background{
    width: 300px;
    height: 350px;
    margin-top: 350px;
    position: absolute;
    border: 2px solid red;

}
.background .mas{
    width: 100%;
    position: relative;
    overflow: hidden;
}