:root {
    --black: #252a34;
    --gray: #65727d;
    --blue: #235496;
    --white: #eaeaea;
    --orange: #dc7633;
    --title: 35px;
    --text: 19px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    overflow-x: hidden;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*preload*/

a {
    text-decoration: none;
}

.go-top {
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    background: rgba(220, 118, 51, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
    border-radius: 100%;
}

.go-top:hover {
    background: #fff;
    color: var(--blue);
    border: 2px solid #dc7633;
}

.go-top:hover span {
    color: #dc7633
}

.go-top>span {
    font-size: 30px;
    color: var(--white);
}

/** Portada Servicios **/

@media only screen and (max-width:773px) {
    .img-header-moldes {
        width: 100%;
    }

    .img-header-moldes .welcome-moldes h1 {
        font-size: 40px;
        text-align: center;
    }

}

@media only screen and (max-width:590px) {
    .img-header-moldes .welcome-moldes h1 {
        font-size: 20px;
    }
}

/** Animaciones para la pagina Servicios **/


.animado {
    opacity: 0;
    transition: all 0.4s;
}

.mostrarArriba {
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
    0% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0);
    }
}

.mostrar-texto {
    animation-duration: 2s;
    animation-name: animacion-texto;
}

@keyframes animacion-texto {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Menu Amazon */


.contenedor {
    margin: auto;
    width: 90%;
    max-width: 1200px;
    font-family: 'EB Garamond', serif;

}

/* ------------------------- */
/* Enlaces del NAV */
/* ------------------------- */
.menu {
    background: rgba(35, 84, 150, 0.5);
    padding: 5px 0;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 9999;
}

.menu .contenedor-botones-menu {
    display: none;
    justify-content: space-between;
}

.menu .contenedor-botones-menu button {
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
}

.menu .contenedor-botones-menu button:hover {
    border: 1px solid var(--orange);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
    display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
    display: inline-block;
}

.menu .contenedor-enlaces-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
}

.menu .btn-departamentos {
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    border: 1px solid transparent;
    font-size: 12px;
    cursor: default;
}

.menu .btn-departamentos i {
    margin-left: 20px;
    position: relative;
    bottom: 3px;
}

.menu .btn-departamentos:hover {
    border: 1px solid var(--orange);
}

.menu .btn-departamentos span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces a {
    color: var(--white);
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 14px;
    transition: 0.8s;
}

.menu .contenedor-enlaces-nav .enlaces a:hover {
    border: 1px solid var(--white);
    background: var(--orange);
    transition: 0.8s;

}

.menu .logo-box {
    margin-left: 10px;
    position: absolute;
    margin-top: 10px;
    display: block;
}

.logo {
    width: 50px;
    height: 25px;
}

/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
    position: relative;
}

.grid {
    width: 100%;
    display: none;
    position: absolute;
    top: 5px;
    z-index: 1000;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
    display: grid;
}

.grid::before {
    content: "";
    display: block;
    background: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    left: 65px;
}

.grid>div {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .5);
    transition: 0.8s;
    background: rgba(35, 84, 150, 0.5);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
    background: var(--orange);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .btn-regresar i {
    margin-right: 10px;
}

.grid .categorias {
    grid-area: categorias;
    padding-top: 10px;
    min-height: 300px;
    overflow: auto;
}

.grid .categorias .subtitulo {
    display: none;
}

.grid .categorias a {
    color: var(--white);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    transition: 0.2s;
    font-weight: bold;
    background: var(--orange);
    transition: 0.3s;
}

.grid .categorias a i {
    display: none;
    transition: 0.2s;
}

.grid .categorias a:hover {
    color: var(--white);
    font-weight: bold;
}

.grid .categorias a:hover i {
    display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
    grid-area: subcategorias;
}

.grid .subcategoria {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.grid .subcategoria.activo {
    display: grid;
}

.grid .subcategoria img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.grid .enlaces-subcategoria {
    padding-top: 10px;
    height: 100%;
    max-height: 300px;
    overflow: auto;
}

.grid .enlaces-subcategoria a {
    color: var(--white);
    display: block;
    font-size: 14px;
    padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
    color: var(--white);
    background: var(--orange);
    font-weight: bold;
}

.grid .subtitulo {
    font-size: 18px;
    font-weight: normal;
    color: #E47911;
    font-weight: bold;
    padding: 10px 20px;
}

.grid .banner-subcategoria a {
    display: block;
    height: 100%;
}

.grid .galeria-subcategoria {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    overflow: hidden;
}

.grid .galeria-subcategoria a {
    width: 50%;
    height: 50%;
}

/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media screen and (max-width: 1000px) {
    .menu .contenedor-enlaces-nav {
        padding: 0 10px;
    }

    .menu .logo-box {
        
        position: absolute;
        
    }

    .menu .contenedor {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .menu .contenedor {
        width: 100%;
    }

    .menu .logo-box {
        right: 30px;
        
    }

    .menu .contenedor-botones-menu {
        display: flex;
    }

    .menu .contenedor-enlaces-nav {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        background: var(--black);
        height: 100vh;
        width: 100%;
        z-index: 2000;
        transition: .8s ease all;
        transform: translate(-100%);
    }

    .menu .contenedor-enlaces-nav.activo {
        transform: translate(0%);
    }

    .menu .btn-departamentos {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .menu .btn-departamentos i {
        position: static;
        margin-left: 20px;
        transform: rotate(-90deg);
    }

    .menu .enlaces {
        width: 100%;
    }

    .menu .enlaces a {
        display: block;
        margin: 10px 0;
        padding: 10px;
    }

    .grid {
        display: grid;
        transition: .3s ease all;
        transform: translateX(-100%);
        z-index: 3000;
        width: 80%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        grid-template-areas: "categorias categorias categorias categorias";
    }

    .grid>div {
        background: var(--blue);
        width: 100%;
    }

    .grid.activo {
        transform: translateX(0%);
    }

    .grid::before {
        display: none;
    }

    .grid .btn-regresar {
        display: inline-block;
    }

    .grid .categorias .subtitulo {
        display: block;
    }

    .grid .contenedor-subcategorias {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: .3s ease all;
        transform: translateX(-100%);
        overflow: auto;
    }

    .grid .contenedor-subcategorias.activo {
        transform: translateX(0%);
    }

    .grid .contenedor-subcategorias .subcategoria {
        grid-template-columns: 1fr;
    }

    .grid .contenedor-subcategorias .banner-subcategoria {
        width: 100%;
        min-height: 250px;
        max-height: 350px;
    }

    .grid .enlaces-subcategoria {
        min-height: 50vh;
        overflow: auto;
    }

    .grid .contenedor-subcategorias .galeria-subcategoria a {
        width: 25%;
        height: 100%;
    }
}

/** portada animada Servicios */

.sec {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../img/servicios_web/portada_servicio.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}

.content-moldes {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-moldes .textBox-moldes {
    position: relative;
    max-width: 600px;
}

.content-moldes .textBox-moldes h2 {
    color: #235496;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    width: 140px;
    text-shadow: 2px 2px 3px #fff;
    font-family: 'EB Garamond', serif;
}

.content-moldes .textBox-moldes h2 span {
    color: #235496;
    font-size: 1.6em;
    margin-bottom: 10px;
}

.content-moldes .textBox-moldes p {
    font-size: 1.3em;
    margin-top: 40px;
    color: var(--white);
    text-shadow: 2px 2px 5px var(--orange);
    font-family: 'EB Garamond', serif;
}

.content-moldes .imgMolde {
    width: 550px;
    display: flex;
    padding-right: 50px;
    padding-bottom: 20px;
    justify-content: flex-end;
    margin-top: 50px;
}

.content-moldes .imgMolde video {
    max-width: 100%;
}

.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 60px;
}

.contenedor-forja p:hover {
    transition: all 0.5s;
    text-decoration-line: underline;
}

.contenedor-imagen img:hover {
    opacity: 1;
}

@media only screen and (max-width: 800px) {

    .sec {
        padding: 10px
    }

    .sec .content-moldes {
        flex-direction: column;
    }

    .content-moldes .imgMolde {
        margin: auto 0;
    }

    .content-moldes .imgMolde video {
        max-width: 300px;
    }

    .content-moldes .textBox-moldes h2 {
        font-size: 2em;
    }

    .content-moldes .textBox-moldes h2 span {
        font-size: 1.3em;
        margin-bottom: 1px;
    }

    .content-moldes .textBox-moldes p {
        font-size: 1.3em;
        margin-top: 40px;
    }

    .content-moldes .imgMolde {
        width: 310px;
        padding: 10px;
    }

}

/* contenido servicios */

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.9);
}

.wrapper-impar {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background: #fff;
}

.wrapper-impar .titulo-texto {
    color: #235496;
}

.wrapper-impar .color-texto {
    color: #dc7633;
}

.wrapper-imparfor {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    background: #235496;
}

.left-col,
.right-col {
    flex-basis: 50%;
    height: 100vh;
    position: relative;
    padding: 20px;
    display:flex;
}

.content {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
}

.content h1 {
    color: #dc7633;
    font-size: 60px;
    line-height: 70px;
    margin: 25px 0;
    font-family: 'EB Garamond', serif;
}

.content p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: 'EB Garamond', serif;
}

.slider {
    width: 100%;
    height: 60%;
    display: flex;
    overflow: hidden;
    margin-top: 50px;
}

.slider img {
    width: 100%;
    opacity: 0.7;

}

.slider img:hover {
    opacity: 1;
    filter: saturate();
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 800px) {

    .wrapper{
        position: relative;
        height: auto;    
    }

    .wrapper-impar{
        position: relative;
        height: auto;
    }

    .wrapper-imparfor{
        position: relative;
        height: auto;
    }

    .left-col,
    .right-col {
        flex-basis: 100%;
        height: 270px;
        flex-direction: column;
        position: relative;
    }

    .content {
        left: 0;
        text-align: center;
    }

    .content h1 {
        font-size: 34px;
        line-height: 38px;
    }

    .content p {
        margin: 15px;
    }

    .slider {
        height: 100%;
        width: 250px;
        overflow: hidden;
        margin: auto;
    }

    .slider img {
        opacity: 1;
        width: 100%;
    }

}

/*contenido servicios */

/*preloader*/
.loader {
    background: var(--orange);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.3s ease-in-out;

}

.loader2 {
    clip-path: circle(0% at 100% 0);
}

/*error 404*/
.contenedor-desarrollo {
    display: flex;
    /* position: relative; */
    margin: 0 auto;
    width: 100%;
}

.contendor-desarrollo-img img {
    width: 100%;
}

.contenedor-desarrollo p {
    position: absolute;
    font-size: 1.8em;
    left: 450px;
    top: 278px;
    color: var(--blue);
}

.cono {
    width: 60px;
    height: 50px;
    position: absolute;
    left: 660px;
    top: 330px;
    display: flex;
    object-fit: contain;
}

.cono img {
    height: 100%;
    width: 100%;

}

@media only screen and (max-width: 800px){
    
    .contenedor-desarrollo p{
        position: absolute;
        font-size: 0.6em;
        left: 120px;
        top: 72px;     
        color: var(--white);   
    }
    .cono{
        left: 178px;
        top: 88px;
        width: 15px;
        height: 13px;
    }
}

/*footer*/
footer{
    width: 100%;
    background: #202020;
    color:white;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
    color: #dc7633;
}
.colum1 h2{
    font-size: 14px;
    color: #235496;
    margin-top: 20px;
}
.colum1 p{
    font-size: 16px;
    color: #c0c0c0;
    margin-top: 20px;
}
.colum1 .estados{
    font-size: 17px;
    color: #dc7633;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
}
.colum2 h1{
    font-size: 22px;
    color: #dc7633;
}
.colum2 .row{
    margin-top: 15px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c0c0c0;

}

.colum3{
    max-width: 400px;
}
.colum3 h1{
    font-size: 22px;
    color: #dc7633;
}
.row2{
    margin-top: 20px;   
    display: flex;
}
.row2 img{
    width: 36px;
    height: 36px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
    color: #c0c0c0;
}

.container-footer{
    width: 100%;
    background: #101010; 
    display: flex;
    justify-content: center;
    padding: 10px;
}
.copyright{
    color:#c0c0c0;
}


/**responsive**/
@media  screen and (max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }

    .colum1{
        max-width: 100%;
    }

    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

/* Automatizazion*/

.seccion-portada{
    position: relative;
    width: 100%;
    display: flex;
}

.portada-automatizacion{
    background:url(../img/automatizacion/automatizar.svg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: soft-light;
    position: relative;
    width: 100%;
    height: 100vh;
}
.portada-automatizacion .header-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.portada-automatizacion .header-info h2{
    color:#fff;
    font-size: 4em;
    font-weight: normal;
}
.portada-automatizacion .header-info hr{
    border:none;
    outline: none;
    height: 2px;
    background: #fff;
    width: 600px;
    margin:15px 0px;
}
.portada-automatizacion .header-info p{
    color:#fff;
    font-size: 20px;
}



/*************AUTOMATIZACIÓN**************/
.automatizacion-txt1{
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
}
.proj-automatizacion1{
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 15px;
}

.automatizacion-txt1 p{
    text-align: justify;
    font-size: 17px;
    padding-top: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #3C3C3C;
}

/*************INYECCION DE PLASTICOS*************/
.automatizacion-txt2{
    padding-top: 0px;
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}  
.proj-automatizacion2{
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    padding: 15px;
}
.automatizacion-txt2 p{
    text-align: justify;
    font-size: 17px;
    padding-top: 100px;
    font-family: 'Titillium Web', sans-serif;
    color: #3C3C3C;
}


@media only screen and (max-width: 800px){
    .automatizacion-txt1{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .automatizacion-txt2{
        padding-left: 50px;
        padding-right: 50px;
    }

    .portada-automatizacion .header-info h2{
        color:#fff;
        font-size: 2.7em;
        font-weight: normal;
    }

}
