* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-video {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-card {
  margin: auto;
  padding: 3px;
  position: relative;
}

.size-video {
  width: 430px;
  position: relativo;
  padding: 2px;
  top: 10px;
}

.text-format {
  text-align: justify;
  padding: 5px;
  background: transparent;
  color: black;
  position: relative;
}

@media only screen and (max-width: 320px) {
  .container-video {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }
  
  .text-format {
    font-size: 0.6rem;
    box-sizing: content-box;
  }
}

@media only screen and (max-width: 450px) {
  .container-video {
    flex-direction: column;
    box-sizing: border-box;
  }
  .container-card {
    margin: auto;
    width: 100%;
  }

  .size-video {
    width: 100%;
  }

  .text-format {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .container-video {
    flex-direction: column;
    box-sizing: border-box;
  }
  .container-card {
    margin: auto;
    width: 100%;
  }

  .size-video {
    width: 100%;
  }

  .text-format {
    font-size: 0.8rem;
  }
}
